.container-anime-card {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr  1fr;
  width: 100%;
  height: 100vh;
  background: #262626;
}

.content-anime-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 32px;
  padding-bottom:16px;
  width: 90%;
  color: #f2f2f2;
  border-radius: 12px;
  transition: 1s;
}

.icons {
  align-self: center;
}

.icon-content {
  margin-bottom: 8px;
}

.icon-content i svg {
  position: absolute;
  padding-top: 16px;
  padding-left: 32px;

  height: 32px;
  width: 32px;
  cursor: pointer;
}
.icon-content i{
  transition: 0.6s;
}

.icon-content i:hover{
  color: #262626;
}

.title-anime-card {
  text-align: center;
}

.content-anime-card .icons img {
  align-self: center;
  margin-left: 12px;
  transition: 1s;
}

.content-anime-card .icons img:hover {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  cursor: pointer;
}


@media (min-width: 680px){
  .container-anime-card {
    grid-template-columns: 1fr  1fr 1fr;
    height: 100%;
  }
  .container-anime-card {
    width: 100%;
    height: 100%;
  }
  .content-anime-card img {
    height: 325px;
  }
}
@media (min-width: 1200px){
  .container-anime-card{
    grid-template-columns: 1fr  1fr 1fr 1fr;
    justify-content: center;
    height: 100%;
  }

  .container-anime-card {
    width: 100%;
    height: 100%;
  }
  .content-anime-card img {
    height: 350px
  }
}

@media (min-width: 1920px) {
  .container-anime-card{
    grid-template-columns: 1fr  1fr 1fr 1fr 1fr;
    justify-content: center;
    height: 100vh;
  }
}