.input-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.input-content{
  height: 20px;
  padding: 4px 4px 4px 8px;
  border: 0;
  border-radius: 12px;
}


input:focus, button:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);


.row {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 30px;
  background: #032429;

  text-align: center;

}

.row:first-child {
  padding: 40px 30px;
}
.row:nth-child(2)
.row:nth-child(8)
.row:nth-child(10){
  background: #134A46;
}
.row:nth-child(3)
.row:nth-child(7) {
  background: #377D6A;
}
.row:nth-child(4)
.row:nth-child(6){
  background: #7AB893;
}
.row:nth-child(5){
  background: #B2E3AF;
}

span {
    position: relative;
    display: inline-block;
    margin: 30px 10px;
}
.basic-slide {
  display: inline-block;
  width: 215px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #377D6A;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  transition: all .3s ease-in-out;
  
  }

   label {
    display: inline-block;

    top: 0;
    left: 0;
    padding: 10px 15px;
    text-shadow: 0 1px 0 rgba(19,74,70,.4);
    background: #7AB893;
    transition: all .3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

.basic-slide:focus,
.basic-slide:active {
  color: #377D6A;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.basic-slide:active  ::-webkit-input-placeholder {
  color: #aaa;
}
.basic-slide label {
  transform: translateX(-80%);
}